TAPIS_BASE_URL=https://portals.tapis.io
TAPIS_TENANT_ID=portals
TAPIS_USERNAME=
TAPIS_PASSWORD=
TS_AUTHKEY=tskey-auth-

REMOTE_HOST=100.77.233.103
REMOTE_USER=bethel1
REMOTE_PASSWORD=bethel1base
REMOTE_SOURCE_DIR=/var/log/tilt_telemetry
REMOTE_GLOB=tilt_telemetry_*.csv
LOCAL_OUTPUT_DIR=/data/out
FETCH_MODE=missing
TAILSCALE_HOSTNAME=bethel1base-puller
TAILSCALE_SOCKS_PORT=1055
TAILSCALE_LOGIN_TIMEOUT_SECONDS=300
STRICT_HOST_KEY_CHECKING=false

BETHEL1BASE_WORK_ROOT=/work/bethel1Base/data

TRANSFORM_AFTER_FETCH=true
TRANSFORM_OUTPUT_DIR=/data/transformed
UPLOAD_AFTER_TRANSFORM=true
UPLOAD_INPUT_DIR=/data/transformed
UPSTREAM_BASE_URL=https://upstreamapi.pods.portals.tapis.io
UPSTREAM_CAMPAIGN_ID=6
UPSTREAM_UNIT_STATION_MAP=unit1:23,unit2:20,unit3:21,unit4:22
UPSTREAM_UPLOAD_VALIDATE_DATA=true
